{% extends "base.html" %}

{% block content %}
    {% load static %}
    <style>
        main {
            background-image: url("{% static 'RosaTrip/assets/image/brasilia-1600.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1%;
        }
        @media (max-width: 768px) {
            main {
                margin-top: 6%;
            }
        }
        @media (max-width: 578px) {
            main {
                margin-top: 13% !important;
                width: 100%;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 3% 0 2% 0;
            padding: 1% 2% 2% 2%;
            background: rgba(0, 0, 0, 0.73);
            border-radius: 1rem;
        }
        .btn.btn-dark {
            border-radius: 1rem;
            padding: 2% 20% 2% 20%;
            margin: 6% 0;
            color: #000000;
            background-color: white;
        }
        .btn.btn-dark:hover {
            background-color: #18cc65;
        }
        tr {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #ffffff;
            font-size: 1.1rem;
            gap: 0.5%;
        }
        input {
            border-radius: 1rem;
            padding: 3% 5% 3% 5%;
            align-self: center;
            justify-self: center;
            pointer-events: visible;
            caret-color: black;
        }
    </style>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Cadastrar" class="btn btn-dark">
    </form>
{% endblock %}