<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro - RosaTrip Locadora</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/fonts/font-awesome.min.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'RosaTrip/assets/image/favicon.png' %}">

</head>

<body class="cadastro-page">

<div class="panel col-form-label">


    <div class="row justify-content-center">
        <div class="col-md-2">
            <br>
            <h2>CADASTRO</h2>
            <br>
            <form action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nome de Usuário</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.senha.id_for_label }}">Senha</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.senha.id_for_label }}">Confirme a Senha</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'RosaTrip/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js.map' %}"></script>

</body>
</html>