<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Excluir Veículo</h1>
        <p>Tem certeza que deseja excluir este veículo?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'listar_veiculos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    
    <script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>