<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Editar Veiculo - Rosa Trip Locadora</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'RosaTrip/assets/image/favicon.png' %}">
    
</head>
<body>
     <div class="container mt-5">
        <h1 class="mb-4">Editar Veículo</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
    </div>

    <script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>