{% extends 'base.html' %}
{% block content %}

{% load static %}

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/fonts/bootstrap-icons.woff' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/fonts/bootstrap-icons.woff2' %}">

<style>
    .custom-header {
        background-image: url("{% static 'RosaTrip/assets/image/homepage-bmw.jpg' %}");
        background-size: cover;
        background-position: center;
        color: #000000;
        background-repeat: repeat-x;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -3rem;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        max-height: 25rem; /* Ajuste a altura conforme necessário */
        object-fit: cover;
        max-width: 100%;
    }
</style>
    <header class="custom-header">
        <div class="container-sm">
            <div class="row">
                <div class="col-12">
                    <h1>RosaTrip Locadora de Veículos</h1>
                    <p><strong>Seja bem-vindo ao RosaTrip, o seu site de viagens preferido!</strong></p>
                </div>
            </div>
        </div>
    </header>
    <div class="container-sm text-center mx-auto">
        <hr>
        <p class="text-faded">
            <br>
            <strong>
                Nossa frota de veículos é cuidadosamente selecionada para atender a todas as suas necessidades de viagem,
                desde carros compactos e econômicos até utilitários espaçosos e vans confortáveis.
            </strong>
            <br>
        </p>
        <a class="btn btn-dark" role="button" href="#">SAIBA MAIS</a><hr>
    </div>
    <div class="container-fluid text-center">
        <h2 class="section">Conheça nossa frota esportiva!</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/mercedez.jpg' %}" class="card-img-top" alt="Mercedez">
                    <div class="card-body">
                        <h5 class="card-title">Mercedez Benz</h5>
                        <p class="card-text">Conforto e segurança para você e sua família.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/bmw-blue.jpg' %}" class="card-img-top" alt="BMW">
                    <div class="card-body">
                        <h5 class="card-title">BMW</h5>
                        <p class="card-text">Carros modernos e confiáveis para te levar mais longe.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/esportivo1.jpg' %}" class="card-img-top" alt="Esportivo">
                    <div class="card-body">
                        <h5 class="card-title">Esportivo</h5>
                        <p class="card-text">Experimente a liberdade de dirigir com estilo e segurança.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/Mustang-silver.jpg' %}" class="card-img-top" alt="mustang">
                    <div class="card-body">
                        <h5 class="card-title">Mustang</h5>
                        <p class="card-text">Carros modernos e confiáveis para te levar mais longe.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/ferrari-card.jpg' %}" class="card-img-top" alt="ferrari">
                    <div class="card-body">
                        <h5 class="card-title">Ferrari</h5>
                        <p class="card-text">Carros modernos e confiáveis para te levar mais longe.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'RosaTrip/assets/image/vantage-AMR.jpg' %}" class="card-img-top" alt="vantage">
                    <div class="card-body">
                        <h5 class="card-title">Aston Martin</h5>
                        <p class="card-text">Carros modernos e confiáveis para te levar mais longe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-black mt-3 p-3">
        <h2 class="text-white section-heading">Seu estilo, nosso carro. Encontre o veículo perfeito para você</h2><br>
        <p class="text-faded text-light">
            Sua vida, seu ritmo, seu carro.<br>
            Experimente a liberdade de dirigir com estilo e segurança, escolhendo o veículo que combina com sua
            personalidade e seus planos.<br>
            Aqui, você encontra carros modernos e confiáveis para te levar mais longe, sem perder e
            conforto e a praticidade.
        </p>
        <a class="btn btn-light" role="button" href="#"><strong>VENHA PARA AS MELHORES TRIPS!</strong></a>
    </div>
    <hr>
    <section id="servicos">
        <div class="container-sm">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section">Seu destino, nossa competência</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container-sm">
            <div class="row">
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <a><i class="bi bi-globe-americas"></i></a>
                        <h3 class="mb-3">Sua viagem começa aqui!</h3>
                        <p class="text-muted mb-0">Para mais informações nos procure, ou venha até nossa loja.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <h3 class="mb-3">Locação e devolução simples e rápida</h3>
                        <p class="text-muted mb-0">Com uma equipe qualificada, sua locação é feita de forma ágil e
                            descomplicada.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="br bi-person-arms-up"></i>
                        <h3 class="mb-3">Nossa prioridade é a sua experiência</h3>
                        <p class="text-muted mb-0">Na Rosa Trip Locadora você é mais que cliente, é família!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="bi bi-car-front-fill"></i>
                        <h3 class="mb-3">Frota moderna e veículos de qualidade</h3>
                        <p class="text-muted mb-0">Sua segurança em primeiro lugar, conte com nossos veículos revisados,
                            modernos e prontos para uma boa trip.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}