<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login - RosaTrip Locadora</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/login-page.css' %}">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'RosaTrip/assets/image/favicon.png' %}">


</head>

<body class="login-page">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#mainNav">LOGIN - ROSATRIP LOCADORA</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastro' %}">CADASTRO</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="login-block">
        <img class="logo-img" src="{% static 'RosaTrip/assets/image/logo-rosaTrip.jpg' %}" alt="Scancode">
        <h1>Login - RosaTrip Locadora</h1>
        
        <form action="{% url 'login' %}" method="POST">
            
            {% csrf_token %}

            <hr class="hr-xs">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope ti-username"></i></span>
                    <label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </label>
                </div>
            </div>

            <hr class="hr-xs">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                    <label>
                        <input type="password" class="form-control" placeholder="Senha" name="senha">
                    </label>
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Logar</button>
            <br>
            <br>

            <div class="social-media">
                <h6>Acesse nossas redes sociais</h6>
                <ul class="social-icons">
                    <li><a class="facebook" href="https://facebook.com.br"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

        </form>

    </div>

</main>

<script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bootstrap.bundle.min.js.map' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bootstrap.min.js.map' %}"></script>

</body>
</html>