<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LOGIN - ROSA TRIP LOCADORA</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" fontawesome="all" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/style-login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'RosaTrip/assets/image/favicon.png' %}">

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#mainNav">LOGIN - ROSATRIP LOCADORA</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h2>LOGIN</h2>
            <br>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-dark mt-3" type="submit">Logar</button><br>
                <a class="e-senha" href="">Esqueceu sua senha?</a>
            </form>
        </div>
        <div class="info-box">
            <h1>ROSA TRIP<br>LOCADORA</h1>
            <h5>Não tem cadastro?</h5>
            <form action="{% url 'cadastro' %}" method="GET">
                <button class="btn btn-light mt-1" type="submit">Cadastrar</button>
            </form>
            <div class="social-media"><br><br>
                <h6>Acesse nossas redes sociais</h6>
                <ul class="social-icons">
                    <li class="d-inline"><a class="facebook" href="https://facebook.com.br"><i class="fab fa-facebook"></i></a></li>
                    <li class="d-inline"><a class="twitter" href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li class="d-inline"><a class="instagram" href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'RosaTrip/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/aos.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/bs-init.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/baguetteBox.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/creative.js' %}"></script>

</body>
</html>