<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TEST</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'RosaTrip/assets/fonts/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'RosaTrip/assets/css/test-login.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'RosaTrip/assets/image/favicon.png' %}">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#mainNav">LOGIN - ROSATRIP LOCADORA</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastro' %}">CADASTRO</a>
            </li>
        </ul>
    </div>
</nav>

<div class="login-reg-panel">
    <form action="{% url 'test_login' %}" method="POST">
        {% csrf_token %}
        <div class="white-panel">
            <h2>LOGIN</h2>
            <label>
                <input type="text" class="form-control" placeholder="Email" name="email">
            </label>
            <label>
                <input type="password" class="form-control" placeholder="Senha" name="senha">
            </label>
            <hr class="hr-xs">
            <button class="btn btn-dark" type="submit">Logar</button>
            <a href="">Esqueceu sua senha?</a>
        </div>
    </form>

    <div class="info-box">
        <h2>Não tem cadastro?</h2>
        <br>
        <a href="/cadastro/" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Cadastrar</a>
    </div>
</div>

<script src="{% static 'RosaTrip/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'RosaTrip/assets/js/testLogin.js' %}"></script>

</body>
</html>