/*----------------------------------------------------*/
/* ---- Developer: Lucas Dickmann ---- */
/*----------------------------------------------------*/

/* ---- Style do body & Cabeçalho ---- */
.custom-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ---- Style do container ---- */
.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    background-color: rgb(17, 53, 26);
}
/* ---- Style do formulário de cadastro ---- */
.col-md-12.cadastro {
    background-color: #f8f9fa;
    height: 580px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 30%;
    right: calc(60% - 50px);
    z-index: 0;
    box-shadow: 0 0 20px 7px #000000;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
/* ------ Style do botão de cadastro ------ */
.btn.btn-success {
    margin-top: 80px;
}