/*----------------------------------------------------*/
/* ---- Web Developer: Lucas E. Dickmann ---- */
/*----------------------------------------------------*/

/* ---- Styles Navbar ---- */
.scrolled {
  background-color: #f0f0f0 !important;
  color: #333 !important;
  transition: background-color 0.3s ease;
}

/* ---- Styles Header ---- */
.custom-header {
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.custom-header .container {
    padding-top: 100px;
}
.header-text {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    margin-top: 100px;
}

/* ---- Styles responsividade ---- */
@media (max-width: 992px) {
    .custom-header {
        height: 90vh;
    }
    .custom-header .container {
        padding-top: 110px;
    }
    .header-text {
        font-size: 2em;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .custom-header {
        height: 80vh;
    }
    .custom-header .container {
        padding-top: 130px;
    }
    .header-text {
        font-size: 1.5em;
        margin-top: auto;
    }
}

/* ---- Styles seção  ---- */
#about {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bg-primary {
    background-color: #11351a !important;
}
.bg-dark.text-center {
    color: #ffffff; !important;
}

/* ---- Styles do mapa Google ---- */
.mapa {
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
}

/* ---- Styles do container de ícones de serviços ---- */
#servicos {
    padding-top: 30px;
    padding-bottom: 30px;
}
.service-box svg {
    width: 50px;
    height: 50px;
    fill: #11351a;
    margin-bottom: 20px;
}

/* ---- Styles das imagens em sobreposição ---- */
#frota {
    background-color: #11351a; !important;
    padding-bottom: 60px;
}
.imagem-com-overlay {
    position: relative;
}
.container-image {
    margin-top: -60px;
}
.imagem-com-overlay img {
    z-index: 1;
    border-radius: 7px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-com-overlay:hover .overlay {
    opacity: 1;
}
.text-overlay {
    color: white;
    font-size: 1.5rem;
}
.btn-link {
    text-decoration: none;
    border: none;
    padding: 0;
}

/* ---- Styles Rodapé ---- */
#footer {
    background-color: #11351a;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

#footer .nav-link {
    color: #000000;
}

/* ---- Styles dos links no rodapé ---- */
#footer a {
    text-decoration: none;
    color: white;
}
#footer a:hover {
    color: #0d6efd;
}